.App-persons {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content-title {
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 15px;
}

.Content-title > h2 {
  position: absolute;
  bottom: -25px;
  right: 20px;
  font-family: "Outfit";
  font-weight: bold;
  font-size: 30px;
}

.character-name {
  font-family: "Outfit";
}

.Style-img {
  height: 100px;
}

.Loading-style {
  width: 100%;
}
